body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div#body-container {
    margin-left: 30px !important;
}

.validation-msg {
    color: orangered !important;
}

.inline {
    display: inline-block;
}

.no-input {
    display: none !important;
}

.custom-file-upload {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*dynamic labels*/
/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
}

.tag a {
color: #bbb;
cursor: pointer;
opacity: 0.6;
}

.tag a:hover {
    opacity: 1.0
}

.tag .remove {
vertical-align: bottom;
top: 0;
}

.tag a {
margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}

span.category-name{
    font-size: 16px;
    margin:12px;
}

button#add-category{
    margin-top:-10px;
}