body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div#body-container {
    margin-left: 30px !important;
}

.validation-msg {
    color: orangered !important;
}

.inline {
    display: inline-block;
}

.no-input {
    display: none !important;
}

.custom-file-upload {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -178px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*dynamic labels*/
/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
}

    .tag a {
        color: #bbb;
        cursor: pointer;
        opacity: 0.6;
    }

        .tag a:hover {
            opacity: 1.0
        }

    .tag .remove {
        vertical-align: bottom;
        top: 0;
    }

    .tag a {
        margin: 0 0 0 .3em;
    }

        .tag a .glyphicon-white {
            color: #fff;
            margin-bottom: 2px;
        }

span.category-name {
    font-size: 16px;
    margin: 12px;
}

button#add-category {
    margin-top: -10px;
}

.profile-picture {
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px; /* you can use % */
    height: auto;
}

.center {
    z-index: 1000;
    margin: 50px auto;
    padding: 10px;
    width: 130px;
    opacity: 1;
}

.centerimg {
    height: 128px;
    width: 128px;
}

#progress-div {
    display: none;
}

#published-on {
    margin-left: 110px;
}

#published-on label {
    display: inline-block;
}

.summary-post-img {
    width: 60px; /* you can use % */
    height: auto;

}

tr.summary-posts td{
    text-align: center !important;
}

.review-top-margin{
    margin-top: 15px;
}

.review-img {
    height: 100px; /* you can use % */
    width: auto;
    margin-top:30px;
}

.review-title {
    color: #146F6A !important;
}

.review-title:hover{
    text-decoration:underline;
}

/*comments*/
/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login {
    display: none;
}

.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}

.page-header {
    position: relative;
}

.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}

.notes {
    color: #999;
    font-size: 12px;
}

.media .media-object {
    max-width: 120px;
}

.media-body {
    position: relative;
}

.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}

    .media-date li {
        padding: 0;
    }

        .media-date li:first-child:before {
            content: '';
        }

        .media-date li:before {
            content: '.';
            margin-left: -2px;
            margin-right: 2px;
        }

.media-comment {
    margin-bottom: 20px;
}

.media-replied {
    margin: 0 0 20px 50px;
}

    .media-replied .media-heading {
        padding-left: 6px;
    }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

    .btn-circle span {
        padding-right: 6px;
    }

.embed-responsive {
    margin-bottom: 20px;
}

.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}

input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
    left: 0;
}

.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

.custom-input-file:hover .uploadPhoto {
    display: block;
}