<div class="container-fluid">
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            <li class="bg_lb"> <a href="@Url.Action("AllUsers", "Admin", new {admin="Admin"})"> <i class="icon-th"></i> All Users</a> </li>
            <li class="bg_lg"> <a href="@Url.Action("EditCategories", "Category", new {admin="Admin"})"> <i class="icon-pencil"></i> Categories</a> </li>
            <li class="bg_lo span3"> <a href="form-common.html"> <i class="icon-th-list"></i> Forms</a> </li>
            <li class="bg_ls"> <a href="buttons.html"> <i class="icon-tint"></i> Buttons</a> </li>
            <li class="bg_lb"> <a href="interface.html"> <i class="icon-pencil"></i>Elements</a> </li>
            <li class="bg_lg"> <a href="calendar.html"> <i class="icon-calendar"></i> Calendar</a> </li>
            <li class="bg_lr"> <a href="error404.html"> <i class="icon-info-sign"></i> Error</a> </li>

        </ul>
    </div>
    <!--End-Action boxes-->
</div>