
@*@Html.Partial("_AdminDashboard")*@

<h2>EditCategories</h2>

<br />

<input type="text" id="text" placeholder="category" />
<br>
<span class="tag label label-info">
    <span>Example Tag</span>
    <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
</span>

<script>
    $(function () {


    });
</script>