@{
    ViewBag.Title = "Wishlist";
}
<h3>My Wishlist</h3>

<p>
    @{Html.RenderAction("WishlistSummary", "Wishlist", new { area = "" });}
</p>

@section scripts{

    @Scripts.Render("~/bundles/matrix-tables")
}